.botoes {
    display: flex;
    justify-content: space-between;
    
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #ba7ef3 !important;
    height: 100vw
}

h1 {
    color: #ffffff !important;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
