.botoes {
    display: flex;
    justify-content: space-between;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vw;
}

h1 {
    color: #000000;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
